node-red-msensor-red-and-blue-monitor.json
[
    {
        "id": "497dc625bbef1973",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b1c83075aaca1e97",
        "type": "msensor-avro",
        "z": "497dc625bbef1973",
        "name": "avro",
        "avroSchema": "{\n    \"namespace\": \"msensor.avro\",\n    \"type\": \"record\",\n    \"name\": \"msensor\",\n    \"fields\": [\n        {\"name\": \"device\", \"type\": [\"string\", \"null\"]},\n        {\"name\": \"timestamp\", \"type\": [\"float\", \"null\"]},\n        {\"name\": \"wakeup_count\", \"type\": [\"int\", \"null\"]},\n        {\"name\": \"temperature\",  \"type\": [\"float\", \"null\"]},\n        {\"name\": \"pressure\", \"type\": [\"float\", \"null\"]},\n        {\"name\": \"humidity\", \"type\": [\"float\", \"null\"]},\n        {\"name\": \"battery\", \"type\": [\"float\", \"null\"]},\n        {\"name\": \"soil\", \"type\": [\"float\", \"null\"]}\n    ]\n}",
        "x": 270,
        "y": 100,
        "wires": [
            [
                "ebcb9f1b98ad2841",
                "ab4be9d38e877671",
                "8c59cef409ebb737",
                "d6a46f0e576561d4",
                "0da93151f5bde90b"
            ]
        ]
    },
    {
        "id": "f7bae59d2bf55d8a",
        "type": "kafkajs-consumer",
        "z": "497dc625bbef1973",
        "name": "red",
        "client": "2dba0a70bc28fe91",
        "groupid": "m-red-test",
        "topic": "red_msensor_live_topic",
        "advancedoptions": false,
        "autocommitinterval": 5000,
        "autocommitthreshold": 100,
        "sessiontimeout": 30000,
        "rebalancetimeout": 60000,
        "heartbeatinterval": 3000,
        "metadatamaxage": 300000,
        "maxbytesperpartition": 1048576,
        "minbytes": 1,
        "maxbytes": 10485760,
        "maxwaittimeinms": 5000,
        "frombeginning": false,
        "clearoffsets": false,
        "allowautotopiccreation": false,
        "x": 110,
        "y": 240,
        "wires": [
            [
                "b1c83075aaca1e97"
            ]
        ]
    },
    {
        "id": "ebcb9f1b98ad2841",
        "type": "ui_gauge",
        "z": "497dc625bbef1973",
        "name": "",
        "group": "d234b8b06da089d0",
        "order": 0,
        "width": "2",
        "height": "2",
        "gtype": "gage",
        "title": "Temperature",
        "label": "Celsius",
        "format": "{{payload.temperature.toFixed(1)}}",
        "min": "0",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "25",
        "seg2": "40",
        "diff": false,
        "className": "",
        "x": 690,
        "y": 80,
        "wires": []
    },
    {
        "id": "ab4be9d38e877671",
        "type": "ui_gauge",
        "z": "497dc625bbef1973",
        "name": "",
        "group": "d234b8b06da089d0",
        "order": 1,
        "width": "2",
        "height": "2",
        "gtype": "wave",
        "title": "Humidity",
        "label": "%",
        "format": "{{payload.humidity.toFixed(1)}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 680,
        "y": 120,
        "wires": []
    },
    {
        "id": "c8b93a10f8fd81af",
        "type": "ui_gauge",
        "z": "497dc625bbef1973",
        "name": "",
        "group": "d234b8b06da089d0",
        "order": 1,
        "width": "2",
        "height": "2",
        "gtype": "wave",
        "title": "Soil",
        "label": "%",
        "format": "{{payload.soil.toFixed(1)}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 870,
        "y": 220,
        "wires": []
    },
    {
        "id": "b88ad982612f4aa3",
        "type": "ui_chart",
        "z": "497dc625bbef1973",
        "name": "",
        "group": "d234b8b06da089d0",
        "order": 3,
        "width": "6",
        "height": "4",
        "label": "Air Pressure",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "900",
        "ymax": "1100",
        "removeOlder": "4",
        "removeOlderPoints": "1000",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 890,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "8c59cef409ebb737",
        "type": "function",
        "z": "497dc625bbef1973",
        "name": "stats to pressure",
        "func": "msg.payload = msg.payload.pressure\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 160,
        "wires": [
            [
                "b88ad982612f4aa3",
                "f2cca273bd1332da"
            ]
        ]
    },
    {
        "id": "f2cca273bd1332da",
        "type": "ui_text",
        "z": "497dc625bbef1973",
        "group": "d234b8b06da089d0",
        "order": 4,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "",
        "format": "{{msg.payload.toFixed(0)}} Pa",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 870,
        "y": 180,
        "wires": []
    },
    {
        "id": "d6a46f0e576561d4",
        "type": "template",
        "z": "497dc625bbef1973",
        "name": "",
        "field": "ui_control",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"options\": {\n        \"waveColor\": \"#202020\"\n    }\n}",
        "output": "json",
        "x": 680,
        "y": 200,
        "wires": [
            [
                "c8b93a10f8fd81af"
            ]
        ]
    },
    {
        "id": "6a3396b82aa42782",
        "type": "ui_gauge",
        "z": "497dc625bbef1973",
        "name": "",
        "group": "130935b7bcc95ad4",
        "order": 1,
        "width": "2",
        "height": "2",
        "gtype": "gage",
        "title": "Temperature",
        "label": "Celsius",
        "format": "{{payload.temperature.toFixed(1)}}",
        "min": "0",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "25",
        "seg2": "40",
        "diff": false,
        "className": "",
        "x": 710,
        "y": 320,
        "wires": []
    },
    {
        "id": "a72d6d9fe5849c23",
        "type": "ui_gauge",
        "z": "497dc625bbef1973",
        "name": "",
        "group": "130935b7bcc95ad4",
        "order": 2,
        "width": "2",
        "height": "2",
        "gtype": "wave",
        "title": "Humidity",
        "label": "%",
        "format": "{{payload.humidity.toFixed(1)}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 700,
        "y": 360,
        "wires": []
    },
    {
        "id": "963762697846ab07",
        "type": "ui_gauge",
        "z": "497dc625bbef1973",
        "name": "",
        "group": "130935b7bcc95ad4",
        "order": 3,
        "width": "2",
        "height": "2",
        "gtype": "wave",
        "title": "Soil",
        "label": "%",
        "format": "{{payload.soil.toFixed(1)}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 890,
        "y": 460,
        "wires": []
    },
    {
        "id": "835149a086a97694",
        "type": "ui_chart",
        "z": "497dc625bbef1973",
        "name": "",
        "group": "130935b7bcc95ad4",
        "order": 4,
        "width": "6",
        "height": "4",
        "label": "Air Pressure",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "900",
        "ymax": "1100",
        "removeOlder": "4",
        "removeOlderPoints": "1000",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 910,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "7120cd6cfa0f19b2",
        "type": "function",
        "z": "497dc625bbef1973",
        "name": "stats to pressure",
        "func": "msg.payload = msg.payload.pressure\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 400,
        "wires": [
            [
                "835149a086a97694",
                "dcae7cfed7715c76"
            ]
        ]
    },
    {
        "id": "dcae7cfed7715c76",
        "type": "ui_text",
        "z": "497dc625bbef1973",
        "group": "130935b7bcc95ad4",
        "order": 5,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "",
        "format": "{{msg.payload.toFixed(0)}} Pa",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 890,
        "y": 420,
        "wires": []
    },
    {
        "id": "9de3bf6bc5b0a1d0",
        "type": "template",
        "z": "497dc625bbef1973",
        "name": "",
        "field": "ui_control",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"options\": {\n        \"waveColor\": \"#202020\"\n    }\n}",
        "output": "json",
        "x": 700,
        "y": 440,
        "wires": [
            [
                "963762697846ab07"
            ]
        ]
    },
    {
        "id": "96a851a229930458",
        "type": "kafkajs-consumer",
        "z": "497dc625bbef1973",
        "name": "blue",
        "client": "071c1f983951bdfe",
        "groupid": "m-blue-test",
        "topic": "blue_msensor_live_topic",
        "advancedoptions": false,
        "autocommitinterval": 5000,
        "autocommitthreshold": 100,
        "sessiontimeout": 30000,
        "rebalancetimeout": 60000,
        "heartbeatinterval": 3000,
        "metadatamaxage": 300000,
        "maxbytesperpartition": 1048576,
        "minbytes": 1,
        "maxbytes": 10485760,
        "maxwaittimeinms": 5000,
        "frombeginning": false,
        "clearoffsets": false,
        "allowautotopiccreation": false,
        "x": 110,
        "y": 420,
        "wires": [
            [
                "f4e6ae54fd1ede41"
            ]
        ]
    },
    {
        "id": "f4e6ae54fd1ede41",
        "type": "msensor-avro",
        "z": "497dc625bbef1973",
        "name": "avro",
        "avroSchema": "{\n    \"namespace\": \"msensor.avro\",\n    \"type\": \"record\",\n    \"name\": \"msensor\",\n    \"fields\": [\n        {\"name\": \"device\", \"type\": [\"string\", \"null\"]},\n        {\"name\": \"timestamp\", \"type\": [\"float\", \"null\"]},\n        {\"name\": \"wakeup_count\", \"type\": [\"int\", \"null\"]},\n        {\"name\": \"temperature\",  \"type\": [\"float\", \"null\"]},\n        {\"name\": \"pressure\", \"type\": [\"float\", \"null\"]},\n        {\"name\": \"humidity\", \"type\": [\"float\", \"null\"]},\n        {\"name\": \"battery\", \"type\": [\"float\", \"null\"]},\n        {\"name\": \"soil\", \"type\": [\"float\", \"null\"]}\n    ]\n}",
        "x": 270,
        "y": 460,
        "wires": [
            [
                "6a3396b82aa42782",
                "a72d6d9fe5849c23",
                "7120cd6cfa0f19b2",
                "9de3bf6bc5b0a1d0",
                "f70a0a8c5d2b911e"
            ]
        ]
    },
    {
        "id": "0da93151f5bde90b",
        "type": "ui_text",
        "z": "497dc625bbef1973",
        "group": "d234b8b06da089d0",
        "order": 5,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Battery level",
        "format": "{{msg.payload.battery.toFixed(1)}}V",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 690,
        "y": 260,
        "wires": []
    },
    {
        "id": "f70a0a8c5d2b911e",
        "type": "ui_text",
        "z": "497dc625bbef1973",
        "group": "130935b7bcc95ad4",
        "order": 6,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Battery level",
        "format": "{{msg.payload.battery.toFixed(1)}}V",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 710,
        "y": 500,
        "wires": []
    },
    {
        "id": "2dba0a70bc28fe91",
        "type": "kafkajs-client",
        "name": "m-sensor-red",
        "brokers": "192.168.200.12:9092",
        "clientid": "m-red",
        "connectiontimeout": "3000",
        "requesttimeout": "25000",
        "advancedretry": false,
        "maxretrytime": "30000",
        "initialretrytime": "300",
        "factor": "0.2",
        "multiplier": "2",
        "retries": "5",
        "auth": "none",
        "tlsselfsign": false,
        "tlscacert": "",
        "tlsclientcert": "",
        "tlsprivatekey": "",
        "tlspassphrase": "",
        "saslssl": true,
        "saslmechanism": "plain",
        "loglevel": "error"
    },
    {
        "id": "d234b8b06da089d0",
        "type": "ui_group",
        "name": "Red Stats",
        "tab": "6f0e17a5e418955a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "130935b7bcc95ad4",
        "type": "ui_group",
        "name": "Blue Stats",
        "tab": "6f0e17a5e418955a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "071c1f983951bdfe",
        "type": "kafkajs-client",
        "name": "m-sensor-blue",
        "brokers": "192.168.200.12:9092",
        "clientid": "blue",
        "connectiontimeout": "3000",
        "requesttimeout": "25000",
        "advancedretry": false,
        "maxretrytime": "30000",
        "initialretrytime": "300",
        "factor": "0.2",
        "multiplier": "2",
        "retries": "5",
        "auth": "none",
        "tlsselfsign": false,
        "tlscacert": "",
        "tlsclientcert": "",
        "tlsprivatekey": "",
        "tlspassphrase": "",
        "saslssl": true,
        "saslmechanism": "plain",
        "loglevel": "error"
    },
    {
        "id": "6f0e17a5e418955a",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]